.navbar{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-left: 1rem;
}

.link{
    color: white;
    font-weight: 500;
    padding: 0 1rem 0 1rem;
}

.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    background-color: #21262c;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    border-radius: 10px;
}

.placeholder{
    color: white;
    margin-left: 0.5rem;
    margin-right: 8rem;
    font-size: 0.8rem;
}

.searchbar-end{
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-size: 0.7rem;
    color: grey;
}

.sign-in{
    color: white;
    font-weight: 500;
    margin: 0 1.5rem 0 1.5rem;
}

.sign-up{
    color: white;
    font-weight: 500;
    margin: 0 1.5rem 0 0;
    border: 1px white solid;
    border-radius: 5px;
    padding: 0.5rem;
}

.smaller-screens{
    display: none;
}

/* MEDIA QUERY FOR RESPONSIVENESS */
@media screen and (max-width: 1000px){
    .smaller-screens{
        display: flex;
        width: 85vw;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        z-index: 50;
    }

    .smaller-screens img{
        position: relative;
        right: 3%;
    }

    .navbar{
        display: none;
    }
}